*{
    font-family: "Segoe UI";
    color: white;
}

body{
    background-image: url(" ../Assets/wall1.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.taskbar{
    background-color: #202020bd;
    width: 100%;
    height: 50px;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.icons{
    display:flex; 
    justify-content:center;
    align-items:center;
}

.icons img{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 15px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    transition: .1s;
}

.icons img:hover{
    background-color: rgba(128, 128, 128, 0.342);
    border-radius: 7px;
}

.window{
    width: 1000px;
    height: 500px;
    min-height: 200px;
    min-width: 200px;
    background-color: rgb(31, 31, 31);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.205);
    box-shadow: 5px 5px 20px #00000073;
    resize:both;
    overflow: hidden;
}

.desktop{
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    top: 0;
}

.header{
    display:flex;
    position: absolute;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.headerbuttons{
    margin-left: auto;
}

.header input{
    width: 40px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    transition: .1s;
}

.header input:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

.windowtitle{
    font-size: 15px;
    margin: 0;
    margin-top: 7px;
    margin-left: 10px;
}

.header .close:hover{
    background-color: rgba(255, 0, 0, 0.829);
}

.startmenu, .searchmenu{
    border-radius: 12px;
    backdrop-filter: blur(50px);
    background-color: #202020bd;
    border: 1px solid rgba(255, 255, 255, 0.205);
    box-shadow: 5px 5px 20px #00000073;
    width: 650px;
    height: 700px;
    position: absolute;
    bottom: -1000px;
    left: 50%;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.searchmenu{
    width: 725px;
}

.search{
    background-color: rgba(0, 0, 0, 0.349);
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.205);
    border-bottom: 2px orangered solid;
}

.search p{
    color: rgb(190, 190, 190);
    margin-top:10px;
    margin-left: 15px;
}

.startmenu .footer{
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.startmenu .pinned , .recommended{
    width: 85%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
}

.searchmenu .topapps , .recent{
    width: 85%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
}

.searchmenu .topapps{
    height: 150px;
}

@keyframes startmenu{
    100%{
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        margin: auto;
    }
    0%{
        position: absolute;
        bottom: -1000px;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        margin: auto;
    }
}

@keyframes startmenuflipped{
    0%{
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        margin: auto;
    }
    100%{
        position: absolute;
        bottom: -1000px;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        margin: auto;
    }
}